/*
GENERAL
*/

:root
{
	--light-coral: hsla(0, 86%, 77%, 1);
	--aquamarine: hsla(150, 86%, 77%, 1);
	--violet-web: hsla(300, 86%, 77%, 1);
	--space-cadet: hsla(238, 30%, 19%, 1);
	--mint-green: hsla(98, 86%, 77%, 1);
	--deep-champagne: hsla(35, 86%, 77%, 1);
	--french-sky-blue: hsla(220, 86%, 77%, 1);
	--light-green: hsla(127, 86%, 77%, 1);
}

*
{
	box-sizing: border-box;
}

html, body
{
	margin: 0;
	font-size: 16px;
	height: 100%;
	background: var(--space-cadet);
	font-family: 'Mulish';
}

main
{
	height: 100%;
}

.drohen
{
	display: flex;
	position: fixed;
	right: 0;
	background: black;
	color: white;
	text-decoration: none;
	padding: 0.5rem 0.75rem 0.5rem 0.5rem;
	font-size: 1.1rem;
	border-left: 1px solid white;
	border-bottom: 1px solid white;
	align-items: center;
	border-bottom-left-radius: 0.5rem;
}

.drohen img
{
	min-width: 50px;
	height: 100%;
	image-rendering: pixelated;
	display: block;
	margin-right: 0.5rem;
	flex: 1;
}


/*
VIEW RENDER
*/

view-render
{
	width: 100%;
	height: 100%;
	display: block;
}


/*
GAME CANVAS
*/

game-canvas
{
	width: 100%;
	height: 100%;
	display: block;
}


:host(game-canvas) canvas
{
	width: 100%;
	height: 100%;
	display: block;
	background: var()
}


/*
INPUT SELECT
*/

input-select
{
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: var(--space-cadet);
	padding: 2rem;
	border-radius: 0.25rem;
	border: 1px solid var(--light-green);
	color: var(--light-green);
}

:host(input-select) div
{
	display: none;
	place-items: center;
}

:host(input-select) div.active
{
	display: grid;
}

:host(input-select) button
{
	font-size: 1.5rem;
	display: block;
	width: 100%;
	margin-top: 1rem;
	cursor: pointer;
	border: 1px solid var(--light-green);
	color: var(--light-green);
	background: var(--space-cadet);
	padding: 0.5rem;
	border-radius: 0.25rem;
	transition: background 300ms ease-in-out, color 300ms ease-in-out;
}

:host(input-select) button:hover
{
	color: var(--space-cadet);
	background: var(--light-green);
}

:host(input-select) button:disabled,
:host(input-select) button:hover:disabled
{
	border: 1px solid var(--french-sky-blue);
	color: var(--french-sky-blue);
	background: var(--space-cadet);
	cursor: not-allowed;
}

:host(input-select) p
{
	font-size: 1.5rem;
	margin: 0 0 1rem;
}

:host(input-select) .player-wrap
{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-top: 1rem;
}

player-loader
{
	border: 1px solid var(--light-green);
	padding: 0.2rem;
}

:host(player-loader) p
{
	margin: 0 0 0.2rem;
}

:host(player-loader) figure
{
	display: block;
	margin-bottom: 0.5rem;
}

:host(player-loader) figure span
{
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px dashed var(--light-green);
}